{
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/115.0",
    "Accept": "*/*",
    "Accept-Language": "en-US,en;q=0.5",
    "Content-Type": "application/json",
    "X-Goog-AuthUser": "0",
    "x-origin": "https://music.youtube.com",
    "Cookie": "PREF=...; SID=...; HSID=...; SSID=...; APISID=...; SAPISID=...; __Secure-1PAPISID=...; __Secure-3PAPISID=...; YSC=...; LOGIN_INFO=...; SIGNIN_INFO=...; __Secure-1PSID=...; __Secure-3PSID=..."
}